<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=site.name %></title>
        <meta name="keywords" content="<%=site.keywords %>" />
        <meta name="description" content="<%=site.description %>" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/font-awesome/font-awesome.min.css" />
    </head>
    <body>
        <%- include('head.html') -%>
        <div class="container main">
            <div class="content">
                <div class="nav"><a href="/" class="mark">koa.blog</a><a href="/about">关于我</a></div>
                <div class="box">
                    <p>👋 Hi, I’m @wmper 12年毕业，看书、码字、敲代码是我花时间的爱好，9年资深开发经验，现在某集团公司任资深开发岗。</p>
                    <p>✨ .NET后端资深搬运工</p>
                    <p>✨ 前端客串开发</p>
                    <p>✨ Java & SpringBoot尝鲜中...</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:rj091@qq.com">rj091@qq.com</a></p>
                    <p><i class="fa fa-github"></i> <a href="https://github.com/wmper">https://github.com/wmper</a></p>
                </div>
            </div>
            <%- include('node.html',site) -%>
        </div>
        <%- include('footer.html') -%>
    </body>
</html>
