<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=model.title %></title>
        <meta name="keywords" content="<%=model.keywords %>" />
        <meta name="description" content="<%=model.description %>" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/font-awesome/font-awesome.min.css" />
    </head>
    <body>
       <%- include('head.html') %>
        <div class="container main">
            <div class="list">
                <div class="nav"><a href="/" class="mark">koa.blog</a><a href="/categories/<%=model.id %>"><%=model.name %></a></div>
                <% list.forEach(function(item){ %>
                    <div class="item">
                        <%if(item.logo){%>
                            <div class="logo"><img src="<%=item.logo %>" /></div>
                        <%}%>
                        <div class="doc">
                            <div class="title"><span><%=item.category_name %></span><a href="/doc/<%=item.id %>"><%=item.title %></a></div>
                            <p><%= item.description %></p>
                            <span><i class="fa fa-clock-o"></i> <%=item.create_time %> · <i class="fa fa-eye"></i> <%=item.views %> · <i class="fa fa-user"></i> <%=item.comments %></p>
                        </div>
                    </div>
                <% }) %>
                <%- include('pager.html',{model:pager,url:''}) %>
            </div>
            <%- include('node.html') -%>
        </div>
        <%- include('footer.html') %>
    </body>
</html>
