<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>koa首页</title>
    </head>
    <body>
        <div>
            <form method="POST" action="/api/upload" enctype="multipart/form-data">
                <input name="username" value="<%= title %>" />
                <input name="password" value="12456" />
                <input type="file" name="file" />
                <button type="submit">submit</button>
            </form>
        </div>
    </body>
</html>
