<div class="nodes">
    <div class="node n-1">
        <p class="line">About</p>
        <p>👋 Hi, I’m @wmper 12年毕业，看书、码字、敲代码是我花时间的爱好，9年资深开发经验，现在某集团公司任资深开发岗。</p>
        <p>✨ .NET后端资深搬运工</p>
        <p>✨ 前端客串开发</p>
        <p>✨ Java & SpringBoot尝鲜中...</p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:rj091@qq.com">rj091@qq.com</a></p>
        <p><i class="fa fa-github"></i> <a href="https://github.com/wmper">https://github.com/wmper</a></p>
    </div>
    <div class="node">
        <p class="line">统计</p>
        <p>文档数 <b><%=site.doc_count %></b></p>
        <p>评论数 <b><%=site.comments %></b></p>
    </div>
</div>
